{% include 'blog/index.html'%}
{% load socialaccount %}


{% block content %}
<div class="m-auto w-[90%] justify-center">
  <h1>Sign Out</h1>

  <p>Are you sure you want to sign out?</p>
  
  <form method="post" action="{% url 'account_logout' %}">
    {% csrf_token %}
    <button type="submit" class="bg-red-700 text-white rounded-lg my-3  w-[100px]">Sign Out</button>
  </form>
  <button  class="bg-blue-700 text-white rounded-lg  w-[100px]"><a href="/">Cancel</a></button>
  
  
  {% endblock %}

</div>

